<%= render 'shared/header' %>

<div class="mx-auto my-10 max-w-7xl px-5">
  <div class="relative mx-auto max-w-3xl">
    <%= image_tag 'top-welcome.png', class: 'w-full object-cover' %>
    <p class="title">Welcome to <br>cogi photo!!</p>
  </div>
</div>

<%= render 'shared/footer' %>
