<header class="flex items-center justify-between h-16 px-4 bg-main-color shadow-md">
  <h1 class="font-bold">
    <%= link_to t('header.title'), root_path, class: '' %>
  </h1>
  <nav>
    <ul class="flex items-center gap-3">
      <li>
        <%= link_to t('header.to_register_page'), new_user_path, class: 'text-sm md:text-base hover:underline' %>
      </li>
      <li>
        <%= link_to t('header.login'), login_path, class: 'text-sm md:text-base hover:underline' %>
      </li>
    </ul>
  </nav>
</header>
