<% if object.errors.any? %>
  <ul class="pl-5">
    <% object.errors.each do |error| %>
      <li class="text-red-600 text-base list-disc"><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
