<header class="flex items-center justify-between h-16 px-4 bg-main-color shadow-sm">
  <h1 class="font-bold">
    <%= link_to t('header.title'), root_path, class: '' %>
  </h1>
  <nav>
    <ul class="flex items-center gap-3">
      <li>
        <%= link_to t('header.board_index'), boards_path, class: 'text-sm md:text-base hover:underline' %>
      </li>
      <li>
        <%= link_to t('header.board_create'), new_board_path, class: 'text-sm md:text-base hover:underline' %>
      </li>
      <li>
        <%= link_to t('header.logout'), logout_path, class: 'text-sm md:text-base hover:underline', data: { turbo_method: :delete } %>
      </li>
    </ul>
  </nav>
</header>
