@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Zen Maru Gothic", serif;
}

@layer components {
    .title {
        position: absolute;
        top: 16%;
        left: 6%;
        font-size: clamp(20px, 9vw, 80px);
        line-height: 1.1;
    }

    .card {
        display: block;
    }

    .card:hover img {
        scale: 1.1;
    }
}
